params {
    // sasquatch specific parameters
    assoc                      = 'sarthy_lab'
    partition                  = 'cpu-core-sponsored'
    account                    = 'cpu-sarthy_lab-sponsored'

    // input and output
    outdir                     = '/data/hps/assoc/private/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/results_nf'
    sample_sheet               = "${projectDir}/assets/nf-sample-sheet.csv"
    
    // genome reference
    genome_reference           = '/data/hps/assoc/private/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/reference/hg38_chr22.fa'
    genome_reference_index     = '/data/hps/assoc/private/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/reference/hg38_chr22.fai'
    gtf                        = '/data/hps/assoc/private/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/reference/hg38_chr22.gtf'

    // alignment quality for minmap2
    min_mapq                   = 1

}

workDir = "/data/hps/assoc/private/${params.assoc}/user/$USER/temp"

profiles {
    sasquatch {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        apptainer.registry     = 'quay.io'
        apptainer.cacheDir     = "/data/hps/assoc/private/${params.assoc}/user/$USER/apptainer"
        apptainer.pullTimeout  = '6h'
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    conda {
        conda.enabled          = true
        docker.enabled         = false
    }

    docker {
        docker.enabled         = true
        conda.enabled          = false
    }

    local {
        process.executor       = 'local'
    }

    slurm {
        process.executor       = 'slurm'
        process.queue          = "${params.partition}"
        process.clusterOptions = "--account=${params.account} --time=72:00:00"
    }
}


process {
    withName: 'FLAIR_ALIGN' {
        cpus = 8
        memory =  32.GB 
    }
}

process {
    withName: 'FLAIR_CORRECT' {
        cpus = 8
        memory = 32.GB
    }
}

env {
    TMPDIR = "/data/hps/assoc/private/${params.assoc}/user/$USER/temp"
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'chaochaowong/flair_nf'
    author          = """Chao-Jen Wong"""
    homePage        = 'https://github.com/chaochaowong/flair_nf'
    description     = """FLAIR pipeline."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.99.1'
}
apptainer.registry   = 'quay.io'