params {
    // sasquatch specific parameters
    assoc                      = 'sarthy_lab'
    partition                  = 'cpu-core-sponsored'
    account                    = 'cpu-sarthy_lab-sponsored'

    // input and output
    outdir                     = '/data/hps/home/cwo11/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/results_nf'
    sample_sheet               = "${projectDir}/assets/nf-sample-sheet.csv"
    
    // genome reference
    genome_reference           = '/data/hps/home/cwo11/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/reference/hg38_chr22.fa'
    genome_reference_index     = '/data/hps/home/cwo11/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/reference/hg38_chr22.fai'
    gtf                        = '/data/hps/home/cwo11/sarthy_lab/user/cwo11/projects/flair-tutorial/tutorial/reference/hg38_chr22.gtf'

    // alignment quality for minmap2
    min_mapq                   = 1

}

profiles {
    sasquatch {
        apptainer.enabled      = true
        conda.enabled          = false
        docker.enabled         = false        
        apptainer.autoMounts   = true
        apptainer.registry     = 'quay.io'
        apptainer.cacheDir     = "$HOME/apptainer_test"
        apptainer.pullTimeout  = '2h'
    }

    conda {
        conda.enabled          = true
        docker.enabled         = false
    }

    docker {
        docker.enabled         = true
        conda.enabled          = false
    }

    local {
        process.executor       = 'local'
    }

    slurm {
        process.executor       = 'slurm'
        process.queue          = "${params.partition}"
        process.clusterOptions = "--account=${params.account} --time=72:00:00"
    }
}


process {
    withName: 'FLAIR_ALIGN' {
        cpus = 8
        memory = 32.GB
    }
}

process {
    withName: 'FLAIR_CORRECT' {
        cpus = 8
        memory = 32.GB
    }
}